<div class="navbar-default sidebar-nav">
	<ul class="sidebar">
		<li class="sidebar-header">
            Panel Widgets
        </li>
		<li>
			<a href ng-click="addEmployeesLocation()">
				<i class="fa fa-male"> </i>
				Employees Location
			</a>
		</li>
		<li>
			<a href ng-click="addSalesFlow()">
				<i class="fa fa-usd"> </i>
				Sales Flow
			</a>
		</li>
	</ul>
</div>
<div class="container">

</div>