body {
    background-color: #f8f8f8;
}

.navbar-top-right-links {
    margin-right: 0;
}

.navbar-top-right-links li {
    display: inline-block;
}

.navbar-top-right-links li:last-child {
    margin-right: 15px;
}

.navbar-top-right-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-right-links .dropdown-menu li {
    display: block;
}

.navbar-top-right-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-right-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-right-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-right-links .dropdown-tasks {
	width: 310px;
	min-width: 0;
	margin-left:auto;
}

.chart-animation.ng-enter, 
.chart-animation.ng-leave {
	-webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
}
.chart-animation.ng-enter {
	z-index: 100;
	opacity: 0;
}
.chart-animation.ng-enter.ng-enter-active {
	opacity: 1;
}
.chart-animation.ng-leave {
  z-index: 101;
  opacity: 1;
}
.chart-animation.ng-leave.ng-leave-active {
  opacity: 0;
}